# 5.2 - Peticiones a la web, APIs

[**APIs publicas**](https://github.com/public-apis/public-apis)


![api_request](images/api_request.svg)



Una api (interfaz de programación de aplicaciones), es un código que permite que dos programas de software se comuniquen entre sí.

La api define la forma correcta para que un desarrollador escriba un programa que solicite servicios de un sistema operativo u otra aplicación. Las api se implementan mediante llamadas a funciones. La sintaxis requerida se describe en la documentación de la api a la que se llama, y cada una es diferente.

Las api se componen de dos elementos relacionados. La primera es una especificación que describe cómo se intercambia la información entre programas, hecha en forma de una solicitud de procesamiento y una devolución de los datos necesarios. El segundo es una interfaz de software escrita según esa especificación y publicada de alguna manera para su uso. Se dice que el software que quiere acceder a las características y capacidades de la API la llama, y se dice que el software que crea la API la publica.

De manera general, usaremos las api para obtener información.

### Realizando una petición a la web (GET)

Usaremos la librería [requests](https://docs.python-requests.org/en/master/) para realizar peticiones a la web.

In [1]:
!pip install requests

Requirement already satisfied: requests in /Users/iudh/opt/anaconda3/envs/clase/lib/python3.8/site-packages (2.26.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/iudh/opt/anaconda3/envs/clase/lib/python3.8/site-packages (from requests) (2021.5.30)
Requirement already satisfied: idna<4,>=2.5 in /Users/iudh/opt/anaconda3/envs/clase/lib/python3.8/site-packages (from requests) (3.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/iudh/opt/anaconda3/envs/clase/lib/python3.8/site-packages (from requests) (2.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/iudh/opt/anaconda3/envs/clase/lib/python3.8/site-packages (from requests) (1.26.7)

In [2]:
import requests as req

In [3]:
url='http://www.google.es'

In [4]:
req.get(url)   # realiza la peticion GET al servidor

In [5]:
url='http://www.google.es/search?q=machine+learning'

In [10]:
req.get(url).text[:50]

'<!doctype html><html lang="es"><head><meta charset'

### API de [Anime](https://jikan.moe/)

In [11]:
URL_BASE='https://api.jikan.moe/v3/search/anime?q='

In [12]:
busqueda='naruto'

req.get(URL_BASE+busqueda)

In [18]:
busqueda='koukaku kidotai'

req.get(URL_BASE+busqueda).json()['results'][0]

{'mal_id': 43,
 'url': 'https://myanimelist.net/anime/43/Koukaku_Kidoutai',
 'image_url': 'https://cdn.myanimelist.net/images/anime/10/82594.jpg?s=077dce74e000ea7dcd77c738bd1cbee0',
 'title': 'Koukaku Kidoutai',
 'airing': False,
 'synopsis': 'In the year 2029, Niihama City has become a technologically advanced metropolis. Due to great improvements in cybernetics, its citizens are able to replace their limbs with robotic parts. The world is...',
 'type': 'Movie',
 'episodes': 1,
 'score': 8.28,
 'start_date': '1995-11-18T00:00:00+00:00',
 'end_date': '1995-11-18T00:00:00+00:00',
 'members': 520754,
 'rated': 'R+'}

### [PokeAPI](https://pokeapi.co/)

In [19]:
BASE='https://pokeapi.co/api/v2/'

In [20]:
pokemon='pokemon/25'

In [21]:
response=req.get(BASE+pokemon)

response

In [28]:
response.json()['forms'][0]['name']

'pikachu'

In [30]:
# la url puede tener parametros (?...&...&...)

query={'limit':3, 'offset':1}

res_poke=req.get(BASE+'pokemon', params=query)

res_poke.json()

{'count': 1118,
 'next': 'https://pokeapi.co/api/v2/pokemon?offset=4&limit=3',
 'previous': 'https://pokeapi.co/api/v2/pokemon?offset=0&limit=1',
 'results': [{'name': 'ivysaur',
   'url': 'https://pokeapi.co/api/v2/pokemon/2/'},
  {'name': 'venusaur', 'url': 'https://pokeapi.co/api/v2/pokemon/3/'},
  {'name': 'charmander', 'url': 'https://pokeapi.co/api/v2/pokemon/4/'}]}

### [ISS](https://wheretheiss.at/w/developer) API

In [36]:
URL='https://api.wheretheiss.at/v1/satellites/25544'

res_iss=req.get(URL)

res_iss

In [37]:
res_iss.headers

{'Date': 'Thu, 11 Nov 2021 18:48:38 GMT', 'Server': 'Apache/2.2.22 (Ubuntu)', 'X-Powered-By': 'PHP/5.3.10-1ubuntu3.26', 'X-Rate-Limit-Limit': '350', 'X-Rate-Limit-Remaining': '347', 'X-Rate-Limit-Interval': '5 minutes', 'Access-Control-Allow-Origin': '*', 'X-Apache-Time': 'D=25698', 'Cache-Control': 'max-age=0, no-cache', 'Content-Length': '311', 'Keep-Alive': 'timeout=15, max=100', 'Connection': 'Keep-Alive', 'Content-Type': 'application/json'}

In [38]:
res_iss.json()

{'name': 'iss',
 'id': 25544,
 'latitude': 3.1761785077822,
 'longitude': 2.1126431292769,
 'altitude': 425.74383581004,
 'velocity': 27561.209824592,
 'visibility': 'daylight',
 'footprint': 4536.5708370458,
 'timestamp': 1636656518,
 'daynum': 2459530.2837731,
 'solar_lat': -17.634221135276,
 'solar_lon': 253.8663842709,
 'units': 'kilometers'}

In [39]:
import time

posiciones=[]

for i in range(20):
    
    print(i)
    
    res_iss=req.get(URL)
    
    data=res_iss.json()
    
    posiciones.append(data)
    
    time.sleep(1)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [40]:
import pandas as pd

pd.DataFrame(posiciones)

,name,id,latitude,longitude,altitude,velocity,visibility,footprint,timestamp,daynum,solar_lat,solar_lon,units
0,iss,25544,14.475087,10.382722,425.351788,27565.610070,eclipsed,4534.591349,1636656742,2.459530e+06,-17.634926,252.933129,kilometers
1,iss,25544,14.574688,10.459690,425.353521,27565.642937,eclipsed,4534.600102,1636656744,2.459530e+06,-17.634933,252.924797,kilometers
2,iss,25544,14.624477,10.498203,425.354420,27565.659329,eclipsed,4534.604641,1636656745,2.459530e+06,-17.634936,252.920630,kilometers
3,iss,25544,14.724030,10.575286,425.356281,27565.692030,eclipsed,4534.614041,1636656747,2.459530e+06,-17.634942,252.912298,kilometers
4,iss,25544,14.823554,10.652449,425.358227,27565.724623,eclipsed,4534.623871,1636656749,2.459530e+06,-17.634948,252.903965,kilometers
5,iss,25544,14.873302,10.691059,425.359232,27565.740877,eclipsed,4534.628947,1636656750,2.459530e+06,-17.634951,252.899799,kilometers
6,iss,25544,14.972775,10.768337,425.361306,27565.773304,eclipsed,4534.639419,1636656752,2.459530e+06,-17.634958,252.891466,kilometers
7,iss,25544,15.072215,10.845694,425.363464,27565.805621,eclipsed,4534.650319,1636656754,2.459530e+06,-17.634964,252.883134,kilometers
8,iss,25544,15.121922,10.884403,425.364575,27565.821739,eclipsed,4534.655928,1636656755,2.459530e+06,-17.634967,252.878967,kilometers
9,iss,25544,15.221315,10.961881,425.366859,27565.853892,eclipsed,4534.667465,1636656757,2.459530e+06,-17.634973,252.870635,kilometers
10,iss,25544,15.270997,11.000650,425.368033,27565.869928,eclipsed,4534.673393,1636656758,2.459530e+06,-17.634977,252.866468,kilometers
11,iss,25544,15.370337,11.078248,425.370443,27565.901918,eclipsed,4534.685564,1636656760,2.459530e+06,-17.634983,252.858136,kilometers
12,iss,25544,15.469644,11.155928,425.372936,27565.933798,eclipsed,4534.698158,1636656762,2.459530e+06,-17.634989,252.849803,kilometers
13,iss,25544,15.519284,11.194798,425.374215,27565.949698,eclipsed,4534.704612,1636656763,2.459530e+06,-17.634992,252.845637,kilometers
14,iss,25544,15.618541,11.272602,425.376833,27565.981416,eclipsed,4534.717836,1636656765,2.459530e+06,-17.634999,252.837304,kilometers
15,iss,25544,15.717761,11.350488,425.379534,27566.013025,eclipsed,4534.731478,1636656767,2.459530e+06,-17.635005,252.828971,kilometers
16,iss,25544,15.767358,11.389462,425.380916,27566.028789,eclipsed,4534.738455,1636656768,2.459530e+06,-17.635008,252.824805,kilometers
17,iss,25544,15.866527,11.467473,425.383741,27566.060236,eclipsed,4534.752722,1636656770,2.459530e+06,-17.635014,252.816473,kilometers
18,iss,25544,15.916098,11.506510,425.385184,27566.075919,eclipsed,4534.760011,1636656771,2.459530e+06,-17.635018,252.812306,kilometers
19,iss,25544,16.015215,11.584650,425.388132,27566.107205,eclipsed,4534.774900,1636656773,2.459530e+06,-17.635024,252.803973,kilometers

### [GitHub](https://docs.github.com/en/rest) API

In [41]:
URL='https://api.github.com/'

In [44]:
eventos='events'

In [45]:
res_git=req.get(URL+eventos)

res_git

In [47]:
type(res_git.text)

str

In [49]:
type(res_git.content)

bytes

In [53]:
res_git.json()[8]['repo']

{'id': 425378614,
 'name': 'kaiyangzheng/NBAGopherFiles',
 'url': 'https://api.github.com/repos/kaiyangzheng/NBAGopherFiles'}

In [54]:
pd.DataFrame(res_git.json()).head()

,id,type,actor,repo,payload,public,created_at,org
0,18849883218,CreateEvent,"{'id': 61912795, 'login': 'laviv', 'display_lo...","{'id': 427107277, 'name': 'laviv/Gloomhaven-Bo...","{'ref': 'master', 'ref_type': 'branch', 'maste...",True,2021-11-11T19:22:20Z,NaN
1,18849883198,PushEvent,"{'id': 28974288, 'login': 'silasfelinus', 'dis...","{'id': 426869724, 'name': 'silasfelinus/sinatr...","{'push_id': 8367032362, 'size': 1, 'distinct_s...",True,2021-11-11T19:22:20Z,NaN
2,18849883233,PushEvent,"{'id': 93902485, 'login': 'sdlfskldfjbsklfd', ...","{'id': 425746932, 'name': 'sdlfskldfjbsklfd/sd...","{'push_id': 8367032389, 'size': 1, 'distinct_s...",True,2021-11-11T19:22:20Z,NaN
3,18849883215,PushEvent,"{'id': 41898282, 'login': 'github-actions[bot]...","{'id': 417075043, 'name': 'Gk0Wk/TiddlySeq', '...","{'push_id': 8367032390, 'size': 1, 'distinct_s...",True,2021-11-11T19:22:20Z,NaN
4,18849883206,PushEvent,"{'id': 93721828, 'login': 'smarapdtributario',...","{'id': 427113534, 'name': 'smarapdtributario/4...","{'push_id': 8367032395, 'size': 1, 'distinct_s...",True,2021-11-11T19:22:20Z,NaN

In [55]:
pd.json_normalize(res_git.json()).head()

,id,type,public,created_at,actor.id,actor.login,actor.display_login,actor.gravatar_id,actor.url,actor.avatar_url,...,payload.review.user.site_admin,payload.review.body,payload.review.commit_id,payload.review.submitted_at,payload.review.state,payload.review.html_url,payload.review.pull_request_url,payload.review.author_association,payload.review._links.html.href,payload.review._links.pull_request.href
0,18849883218,CreateEvent,True,2021-11-11T19:22:20Z,61912795,laviv,laviv,,https://api.github.com/users/laviv,https://avatars.githubusercontent.com/u/61912795?,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,18849883198,PushEvent,True,2021-11-11T19:22:20Z,28974288,silasfelinus,silasfelinus,,https://api.github.com/users/silasfelinus,https://avatars.githubusercontent.com/u/28974288?,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18849883233,PushEvent,True,2021-11-11T19:22:20Z,93902485,sdlfskldfjbsklfd,sdlfskldfjbsklfd,,https://api.github.com/users/sdlfskldfjbsklfd,https://avatars.githubusercontent.com/u/93902485?,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,18849883215,PushEvent,True,2021-11-11T19:22:20Z,41898282,github-actions[bot],github-actions,,https://api.github.com/users/github-actions[bot],https://avatars.githubusercontent.com/u/41898282?,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,18849883206,PushEvent,True,2021-11-11T19:22:20Z,93721828,smarapdtributario,smarapdtributario,,https://api.github.com/users/smarapdtributario,https://avatars.githubusercontent.com/u/93721828?,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### [Kaggle](https://www.kaggle.com/docs/api) API

Para usar la API de Kaggle, primero tenemos que registrarnos en la página. En la información de nuestra cuenta podemos pedir el token de la API:

![kaggle_api](images/kaggle_api.png)


Al pedir el token, se descargará un archivo llamado `kaggle.json`, el cual tendremos que guardar en la carpeta oculta `.kaggle`. 

Para ocultar el token del resto de usuarios se escribe algo como: `chmod 600 /Users/iudh/.kaggle/kaggle.json` en la terminal.

In [56]:
!pip install kaggle

Collecting kaggle
  Downloading kaggle-1.5.12.tar.gz (58 kB)
     |████████████████████████████████| 58 kB 4.0 MB/s eta 0:00:011
Requirement already satisfied: six>=1.10 in /Users/iudh/opt/anaconda3/envs/clase/lib/python3.8/site-packages (from kaggle) (1.12.0)
Requirement already satisfied: certifi in /Users/iudh/opt/anaconda3/envs/clase/lib/python3.8/site-packages (from kaggle) (2021.5.30)
Requirement already satisfied: python-dateutil in /Users/iudh/opt/anaconda3/envs/clase/lib/python3.8/site-packages (from kaggle) (2.8.1)
Requirement already satisfied: requests in /Users/iudh/opt/anaconda3/envs/clase/lib/python3.8/site-packages (from kaggle) (2.26.0)
Requirement already satisfied: tqdm in /Users/iudh/opt/anaconda3/envs/clase/lib/python3.8/site-packages (from kaggle) (4.61.1)
Collecting python-slugify
  Downloading python_slugify-5.0.2-py2.py3-none-any.whl (6.7 kB)
Requirement already satisfied: urllib3 in /Users/iudh/opt/anaconda3/envs/clase/lib/python3.8/site-packages (from kaggle) (1.26.7)
Collecting text-unidecode>=1.3
  Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
     |████████████████████████████████| 78 kB 8.8 MB/s eta 0:00:011
Requirement already satisfied: idna<4,>=2.5 in /Users/iudh/opt/anaconda3/envs/clase/lib/python3.8/site-packages (from requests->kaggle) (3.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/iudh/opt/anaconda3/envs/clase/lib/python3.8/site-packages (from requests->kaggle) (2.0.0)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py) ... done
  Created wheel for kaggle: filename=kaggle-1.5.12-py3-none-any.whl size=73053 sha256=593fc9839db3431d19650ca9683068fd08d07d6968bead12eabad0252a588526
  Stored in directory: /Users/iudh/Library/Caches/pip/wheels/29/da/11/144cc25aebdaeb4931b231e25fd34b394e6a5725cbb2f50106
Successfully built kaggle
Installing collected packages: text-unidecode, python-slugify, kaggle
Successfully installed kaggle-1.5.12 python-slugify-5.0.2 text-unidecode-1.3

In [57]:
import kaggle

In [58]:
from kaggle.api.kaggle_api_extended import KaggleApi

api=KaggleApi()
api.authenticate()

In [59]:
api.dataset_download_files('kazanova/sentiment140', path='./')

In [60]:
import zipfile

with zipfile.ZipFile('sentiment140.zip', 'r') as zipref:
    zipref.extractall('')

In [61]:
import glob  # manejo de archivos carpetas

pd.read_csv(glob.glob('*.csv')[0], encoding='ISO-8859-1').head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [62]:
glob.glob('*.csv')

['training.1600000.processed.noemoticon.csv']

### [Nasa](https://api.nasa.gov/) API

In [64]:
BASE='https://api.nasa.gov/'

fotos_marte='mars-photos/api/v1/rovers/curiosity/photos?sol=1000&api_key=DEMO_KEY'

res_nasa=req.get(BASE+fotos_marte)

res_nasa

In [69]:
foto_url=res_nasa.json()['photos'][0]['img_src']

foto_url

'http://mars.jpl.nasa.gov/msl-raw-images/proj/msl/redops/ods/surface/sol/01000/opgs/edr/fcam/FLB_486265257EDR_F0481570FHAZ00323M_.JPG'

In [70]:
from IPython.display import Image

display(Image(url=foto_url))

In [71]:
imagen_del_dia='https://api.nasa.gov/planetary/apod?api_key=DEMO_KEY'

In [72]:
res_nasa=req.get(imagen_del_dia)

res_nasa

In [74]:
res_nasa.json()

{'copyright': 'Michael Sherick',
 'date': '2021-11-11',
 'explanation': 'NGC 1333 is seen in visible light as a reflection nebula, dominated by bluish hues characteristic of starlight reflected by interstellar dust. A mere 1,000 light-years distant toward the heroic constellation Perseus, it lies at the edge of a large, star-forming molecular cloud. This telescopic close-up spans about two full moons on the sky or just over 15 light-years at the estimated distance of NGC 1333. It shows details of the dusty region along with telltale hints of contrasty red emission from Herbig-Haro objects, jets and shocked glowing gas emanating from recently formed stars. In fact, NGC 1333 contains hundreds of stars less than a million years old, most still hidden from optical telescopes by the pervasive stardust. The chaotic environment may be similar to one in which our own Sun formed over 4.5 billion years ago.',
 'hdurl': 'https://apod.nasa.gov/apod/image/2111/ngc1333_RGB-c2.jpg',
 'media_type': 'image',
 'service_version': 'v1',
 'title': 'NGC 1333: Stellar Nursery in Perseus',
 'url': 'https://apod.nasa.gov/apod/image/2111/ngc1333_RGB-c21024.jpg'}

In [75]:
display(Image(url=res_nasa.json()['url']))

### Yahoo Finance

In [76]:
!pip install yfinance

Requirement already satisfied: yfinance in /Users/iudh/opt/anaconda3/envs/clase/lib/python3.8/site-packages (0.1.63)
Requirement already satisfied: lxml>=4.5.1 in /Users/iudh/opt/anaconda3/envs/clase/lib/python3.8/site-packages (from yfinance) (4.6.3)
Requirement already satisfied: numpy>=1.15 in /Users/iudh/opt/anaconda3/envs/clase/lib/python3.8/site-packages (from yfinance) (1.20.2)
Requirement already satisfied: requests>=2.20 in /Users/iudh/opt/anaconda3/envs/clase/lib/python3.8/site-packages (from yfinance) (2.26.0)
Requirement already satisfied: pandas>=0.24 in /Users/iudh/opt/anaconda3/envs/clase/lib/python3.8/site-packages (from yfinance) (1.2.4)
Requirement already satisfied: multitasking>=0.0.7 in /Users/iudh/opt/anaconda3/envs/clase/lib/python3.8/site-packages (from yfinance) (0.0.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/iudh/opt/anaconda3/envs/clase/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /Users/iudh/opt/anaconda3/envs/clase/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2021.1)
Requirement already satisfied: six>=1.5 in /Users/iudh/opt/anaconda3/envs/clase/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.12.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/iudh/opt/anaconda3/envs/clase/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: idna<4,>=2.5 in /Users/iudh/opt/anaconda3/envs/clase/lib/python3.8/site-packages (from requests>=2.20->yfinance) (3.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/iudh/opt/anaconda3/envs/clase/lib/python3.8/site-packages (from requests>=2.20->yfinance) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/iudh/opt/anaconda3/envs/clase/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2.0.0)

In [77]:
import pandas as pd
import yfinance as yf

import time

In [81]:
data=yf.download(tickers='^DJI', period='5d', interval='1m')

data['datetime']=data.index

data.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,datetime
Datetime,,,,,,,
2021-11-05 09:30:00-04:00,36268.750000,36331.339844,36268.750000,36320.550781,36320.550781,0,2021-11-05 09:30:00-04:00
2021-11-05 09:31:00-04:00,36274.898438,36290.000000,36269.539062,36283.460938,36283.460938,6473430,2021-11-05 09:31:00-04:00
2021-11-05 09:32:00-04:00,36277.699219,36297.578125,36277.378906,36292.511719,36292.511719,2549986,2021-11-05 09:32:00-04:00
2021-11-05 09:33:00-04:00,36292.761719,36317.351562,36290.910156,36317.351562,36317.351562,2092280,2021-11-05 09:33:00-04:00
2021-11-05 09:34:00-04:00,36318.308594,36348.468750,36318.308594,36336.519531,36336.519531,1807783,2021-11-05 09:34:00-04:00

In [82]:
data.to_dict(orient='records')[-1]

{'Open': 35948.83984375,
 'High': 35948.83984375,
 'Low': 35948.83984375,
 'Close': 35948.83984375,
 'Adj Close': 35948.83984375,
 'Volume': 0,
 'datetime': Timestamp('2021-11-11 15:07:14-0500', tz='America/New_York')}

In [83]:
while 1:
    data=yf.download(tickers='UBER', period='5d', interval='1m')

    data['datetime']=data.index

    print(data.to_dict(orient='records')[-1])
    
    time.sleep(0.5)

[*********************100%***********************]  1 of 1 completed
{'Open': 43.095001220703125, 'High': 43.095001220703125, 'Low': 43.095001220703125, 'Close': 43.095001220703125, 'Adj Close': 43.095001220703125, 'Volume': 0, 'datetime': Timestamp('2021-11-11 15:09:53-0500', tz='America/New_York')}
[*********************100%***********************]  1 of 1 completed
{'Open': 43.10499954223633, 'High': 43.10499954223633, 'Low': 43.10499954223633, 'Close': 43.10499954223633, 'Adj Close': 43.10499954223633, 'Volume': 0, 'datetime': Timestamp('2021-11-11 15:10:02-0500', tz='America/New_York')}
[*********************100%***********************]  1 of 1 completed
{'Open': 43.095001220703125, 'High': 43.095001220703125, 'Low': 43.095001220703125, 'Close': 43.095001220703125, 'Adj Close': 43.095001220703125, 'Volume': 0, 'datetime': Timestamp('2021-11-11 15:09:56-0500', tz='America/New_York')}
[*********************100%***********************]  1 of 1 completed
{'Open': 43.099998474121094, 'High': 43.099998474121094, 'Low': 43.099998474121094, 'Close': 43.099998474121094, 'Adj Close': 43.099998474121094, 'Volume': 0, 'datetime': Timestamp('2021-11-11 15:10:04-0500', tz='America/New_York')}
[*********************100%***********************]  1 of 1 completed
{'Open': 43.099998474121094, 'High': 43.099998474121094, 'Low': 43.099998474121094, 'Close': 43.099998474121094, 'Adj Close': 43.099998474121094, 'Volume': 0, 'datetime': Timestamp('2021-11-11 15:10:01-0500', tz='America/New_York')}
[*********************100%***********************]  1 of 1 completed
{'Open': 43.10499954223633, 'High': 43.10499954223633, 'Low': 43.10499954223633, 'Close': 43.10499954223633, 'Adj Close': 43.10499954223633, 'Volume': 0, 'datetime': Timestamp('2021-11-11 15:10:05-0500', tz='America/New_York')}
[*********************100%***********************]  1 of 1 completed
{'Open': 43.099998474121094, 'High': 43.099998474121094, 'Low': 43.099998474121094, 'Close': 43.099998474121094, 'Adj Close': 43.099998474121094, 'Volume': 0, 'datetime': Timestamp('2021-11-11 15:10:01-0500', tz='America/New_York')}
[*********************100%***********************]  1 of 1 completed
{'Open': 43.099998474121094, 'High': 43.099998474121094, 'Low': 43.099998474121094, 'Close': 43.099998474121094, 'Adj Close': 43.099998474121094, 'Volume': 0, 'datetime': Timestamp('2021-11-11 15:10:01-0500', tz='America/New_York')}
[*********************100%***********************]  1 of 1 completed
{'Open': 43.10499954223633, 'High': 43.10499954223633, 'Low': 43.10499954223633, 'Close': 43.10499954223633, 'Adj Close': 43.10499954223633, 'Volume': 0, 'datetime': Timestamp('2021-11-11 15:10:07-0500', tz='America/New_York')}
[*********************100%***********************]  1 of 1 completed
{'Open': 43.10499954223633, 'High': 43.10499954223633, 'Low': 43.10499954223633, 'Close': 43.10499954223633, 'Adj Close': 43.10499954223633, 'Volume': 0, 'datetime': Timestamp('2021-11-11 15:10:07-0500', tz='America/New_York')}
[*********************100%***********************]  1 of 1 completed
{'Open': 43.10499954223633, 'High': 43.10499954223633, 'Low': 43.10499954223633, 'Close': 43.10499954223633, 'Adj Close': 43.10499954223633, 'Volume': 0, 'datetime': Timestamp('2021-11-11 15:10:05-0500', tz='America/New_York')}
[*********************100%***********************]  1 of 1 completed
{'Open': 43.10499954223633, 'High': 43.10499954223633, 'Low': 43.10499954223633, 'Close': 43.10499954223633, 'Adj Close': 43.10499954223633, 'Volume': 0, 'datetime': Timestamp('2021-11-11 15:10:05-0500', tz='America/New_York')}
[*********************100%***********************]  1 of 1 completed
{'Open': 43.10499954223633, 'High': 43.10499954223633, 'Low': 43.10499954223633, 'Close': 43.10499954223633, 'Adj Close': 43.10499954223633, 'Volume': 0, 'datetime': Timestamp('2021-11-11 15:10:02-0500', tz='America/New_York')}

KeyboardInterrupt:

### Twitter API, ejemplo

**https://developer.twitter.com/en/apply-for-access.html**
    
**http://docs.tweepy.org/en/latest/**

```python
import tweepy

API_KEY='apikey'
API_SECRET='apisecret'
ACCESS_TOKEN='tu_token'
TOKEN_SECRET='tu_tokensecret'

auth=tweepy.OAuthHandler(API_KEY, API_SECRET)
auth.set_access_token(ACCESS_TOKEN, TOKEN_SECRET)

api=tweepy.API(auth)


def get_followers(user, count=100):
    results=api.followers(user, count=count)
    followers=[pd.Series(foll._json) for foll in results]
    df=pd.DataFrame(followers)
    return df


df_followers=get_followers('canal_o_usuario')
df_followers.head()
```