# Ejercicios Intro Pandas

![imagen](img/ejercicios.png)

## Ejercicio 1
Importa el módulo `pandas` y el módulo `numpy`.

In [1]:
import numpy as np
import pandas as pd

## Ejercicio 2

Define una lista de 10 elementos y crea con ella un objeto `pandas.Series`.

In [8]:
my_lst = [x*2 for x in range(0,10)]

serie = pd.Series(my_lst)

serie

0     0
1     2
2     4
3     6
4     8
5    10
6    12
7    14
8    16
9    18
dtype: int64

## Ejercicio 3

Usa los índices para devolver el cuarto valor de la serie anterior.

*Recuerda que los índices en Python empiezan en 0.*

In [9]:
serie[3]

6

## Ejercicio 4

Define un `numpy.ndarray` de dimensiones (10, 5) y crea con él un `pandas.DataFrame`.

In [14]:
columnas = ["col1", "col2", "col3", "col4", "col5"]

my_array = np.ndarray((10,5)) # creamos un array de dimensiones 10 x 5 y numeros aleatorios

df= pd.DataFrame(my_array, columns = columnas)

df

            col1           col2           col3           col4           col5
0  1.061592e-311  1.061582e-311  1.677095e+243  1.906577e+185  6.013470e-154
1  2.255636e-153  2.433960e-152  7.352855e+223  6.013470e-154  1.407190e+248
2  2.325304e+251  3.649121e+233  6.988466e+199  5.981175e-114  6.013470e-154
3  1.407190e+248  6.017225e+175  6.367929e+151  2.649374e+180  2.978758e+228
4  5.336407e+228  2.439058e-154   1.877254e-09  4.710645e+257  6.013470e-154
5   8.259978e-72   2.422851e-28  6.013561e-154  6.013470e-154   1.398046e-76
6   3.003000e-67  1.207385e-153  5.981565e-154   1.565348e-76   6.000203e-67
7   2.264022e-76  1.397997e-259  6.013470e-154   4.968032e-91   2.903776e-57
8   8.417899e-53  6.013470e-154   8.259978e-72   2.043212e-28  6.013561e-154
9  6.013470e-154  1.745664e+238  2.000057e+174  7.265881e+223  8.458106e-316

## Ejercicio 5

Renombra las columnas con la siguiente lista:

In [55]:
columns = ['Rate_1', 'Rate_2', 'Rate_3', 'Rate_4', 'Rate_5']

In [56]:
df.columns = columns

df

          Rate_1         Rate_2         Rate_3         Rate_4         Rate_5
0  1.061592e-311  1.061582e-311  1.677095e+243  1.906577e+185  6.013470e-154
1  2.255636e-153  2.433960e-152  7.352855e+223  6.013470e-154  1.407190e+248
2  2.325304e+251  3.649121e+233  6.988466e+199  5.981175e-114  6.013470e-154
3  1.407190e+248  6.017225e+175  6.367929e+151  2.649374e+180  2.978758e+228
4  5.336407e+228  2.439058e-154   1.877254e-09  4.710645e+257  6.013470e-154
5   8.259978e-72   2.422851e-28  6.013561e-154  6.013470e-154   1.398046e-76
6   3.003000e-67  1.207385e-153  5.981565e-154   1.565348e-76   6.000203e-67
7   2.264022e-76  1.397997e-259  6.013470e-154   4.968032e-91   2.903776e-57
8   8.417899e-53  6.013470e-154   8.259978e-72   2.043212e-28  6.013561e-154
9  6.013470e-154  1.745664e+238  2.000057e+174  7.265881e+223  8.458106e-316

## Ejercicio 6

Crea un subconjunto del dataframe que contenga las columnas `Rate_1`, `Rate_3` y `Rate_5`.

In [20]:
df[["Rate_1" ,"Rate_3", "Rate_5"]]

          Rate_1         Rate_3         Rate_5
0  1.061592e-311  1.677095e+243  6.013470e-154
1  2.255636e-153  7.352855e+223  1.407190e+248
2  2.325304e+251  6.988466e+199  6.013470e-154
3  1.407190e+248  6.367929e+151  2.978758e+228
4  5.336407e+228   1.877254e-09  6.013470e-154
5   8.259978e-72  6.013561e-154   1.398046e-76
6   3.003000e-67  5.981565e-154   6.000203e-67
7   2.264022e-76  6.013470e-154   2.903776e-57
8   8.417899e-53   8.259978e-72  6.013561e-154
9  6.013470e-154  2.000057e+174  8.458106e-316

## Ejercicio 7

Crea un subconjunto del dataframe que contenga las filas pares.

In [27]:
df.iloc[2:9:2] # seleccionamos las filas de la 2 a la 9 de 2 en 2

          Rate_1         Rate_2         Rate_3         Rate_4         Rate_5
2  2.325304e+251  3.649121e+233  6.988466e+199  5.981175e-114  6.013470e-154
4  5.336407e+228  2.439058e-154   1.877254e-09  4.710645e+257  6.013470e-154
6   3.003000e-67  1.207385e-153  5.981565e-154   1.565348e-76   6.000203e-67
8   8.417899e-53  6.013470e-154   8.259978e-72   2.043212e-28  6.013561e-154

## Ejercicio 8

Calcula la media de la columna `Rate_4`.

In [32]:
df["Rate_4"].mean()

4.710644802526223e+256

## Ejercicio 8

Calcula la mediana de la columna `Rate_1`.

In [33]:
df["Rate_1"].median()

1.501541058514031e-67

## Ejercicio 9

Calcula el mínimo de la columna `Rate_2`.

In [34]:
df["Rate_2"].min()

1.06158224425e-311

## Ejercicio 10

Calcula el máximo de la columna `Rate_5`.

In [35]:
df["Rate_5"].max()

1.4071902863718444e+248

## Ejercicio 11

Crea un `pandas.DataFrame` con el siguiente diccionario:

In [38]:
products = {'Desc': ['Lunch bag', 'Vintage leaf cake cases', 'Ribbon reel stripes','Gliders', 'Playing cards',
                     'Popcorn holder', 'Alphabet blocks', 'Party bunting', 'Color Pen', 'Paint book'],
           'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
           'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
           'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

{'Desc': ['Lunch bag', 'Vintage leaf cake cases', 'Ribbon reel stripes', 'Gliders', 'Playing cards', 'Popcorn holder', 'Alphabet blocks', 'Party bunting', 'Color Pen', 'Paint book'], 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48], 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25], 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [40]:
df_dictio = pd.DataFrame(products)

df_dictio

                      Desc  Quantity  UnitPrice  Revenue
0                Lunch bag         1       1.65     1.65
1  Vintage leaf cake cases        24       0.55    13.20
2      Ribbon reel stripes         1       1.65     1.65
3                  Gliders      2880       0.18   518.40
4            Playing cards         2       1.25     2.50
5           Popcorn holder         7       0.85     5.95
6          Alphabet blocks         1      11.95    11.95
7            Party bunting         4       4.95    19.80
8                Color Pen        10       0.19     1.90
9               Paint book        48       1.25    60.00

## Ejercicio 12

Calcula la cantidad (`Quantity`) y beneficio (`Revenue`) totales.

In [45]:
df_dictio.Quantity.sum()

2978

In [46]:
df_dictio.Revenue.sum()

637.0

## Ejercicio 13

¿Cuál es el producto más caro?. ¿El más barato?. ¿Y el más vendido?

In [57]:
df_dictio.loc[df_dictio["UnitPrice"].idxmax(),"Desc"]

'Alphabet blocks'

In [58]:
df_dictio.loc[df_dictio["UnitPrice"].idxmin(),"Desc"]

'Gliders'

In [60]:
df_dictio.loc[df_dictio["Quantity"].idxmax(), "Desc"]

'Gliders'

## Ejercicio 14

En este kata, tomarás las claves y los valores de un dictado y los intercambiarás.

Se le dará un diccionario, y luego querrá devolver un diccionario con los valores antiguos 
como claves, y enumerar las claves antiguas como valores debajo de sus claves originales.

Por ejemplo:
    
tenemos el dictionary: {'Ice': 'Cream', 'Age': '21', 'Light': 'Cream', 'Double': 'Cream'},

debera devolver: {'Cream': ['Ice', 'Double', 'Light'], '21': ['Age']}

In [100]:
my_dic = {"Money":"Ball",
       "Basket":"Ball",
       "Lifes":"Matters",
       "City":"London"}


def switch_dict(dic):
    
    tmp_dict = {}
    
    for value in dic.values():
        tmp_lst=[]
        
        for key in dic.keys():
            
            if dic[key]==value:
                tmp_lst.append(key)
        tmp_dict[value] = tmp_lst
    
    return tmp_dict
        
switch_dict(my_dic)

{'Ball': ['Money', 'Basket'], 'Matters': ['Lifes'], 'London': ['City']}

## Ejercicio 15

This program tests the life of an evaporator containing a gas.

We know the content of the evaporator (content in ml), the percentage of foam or gas lost every day (evap_per_day) and the threshold (threshold) in percentage beyond which the evaporator is no longer useful. All numbers are strictly positive.

The program reports the nth day (as an integer) on which the evaporator will be out of use.

Example:
evaporator(10, 10, 5) -> 29

In [103]:
def evaporator(content, evap_per_day, threshold):
	
    day=0
    content2=content
    while content2 > content * threshold / 100:
        content2 -= content2 * evap_per_day / 100
        day+=1
    return day