![imagen](./img/sql_murder.png)

# Ejercicio SQL Murder
Para este ejercicio vas a ponerte la gabardina y el sombrero ya que tendrás que investigar un asesinato en *SQL City*. 

Aplicarás los conecptos básicos de SQL y aprenderás a manejarte con un modelo de datos, mientras resuelves un caso de asesinato :)

Este espectacular juego está creado por **Joon Park y Cathy He**, y podrás encontrar todos los detalles en [su web](http://mystery.knightlab.com)

Para realizar el ejercicio tienes dos opciones, o bien desde la propia web, donde encontrarás un intérprete de sentencias SQL interactivo. Si usas esta opción te recomiendo que vayas apuntando las queries y sus outputs. O la otra opción es [acudir a su GitHub](https://github.com/NUKnightLab/sql-mysteries), descargarte la base de datos y realizar las queries desde Jupyter. Probablemente la primera opción te sea más cómoda


### Enunciado
A crime has taken place and the detective needs your help. The detective gave you the crime scene report, but you somehow lost it. You vaguely remember that the crime was a **murder** that occurred sometime on **Jan.15, 2018** and that it took place in **SQL City**. Start by retrieving the corresponding crime scene report from the police department’s database.


### Modelo de datos
![imagen](./img/sql_game_schemma.png)

¡Suerte Sherlock!

### Este código es una reproducción del que hemos elaborado en la página

In [ ]:
#Recuperamso el informe sabiendo que fue un asesinato en 15/01/2018

select * 
    from crime_scene_report 
        where date = '20180115' 
            and type = 'murder' 
            and city = 'SQL City';

# Hay 2 testigos el 1º vive en Northwestern Dr (última casa) y la 2ª se llama Annabel y vive en Franklin Ave

In [ ]:
# Vemos lo que dijo Annabel (2º testigo)

select * 
    from person
        inner join interview on person.id = interview.person_id
            where address_street_name = 'Franklin Ave'
                and name like '%Annabel%'
                or (address_street_name = 'Northwestern Dr'
                and address_number = (select max(address_number) from person));


# Morty (1º testigo),vió que llevaba una bolsa de Get Fit Now Gym(Nº de bolsa "48Z", pertenece a un miembro dorado),
# Se montó en un coche cuya matrícula empezaba por "H42W"

# Annabel reconoció al asesino en su gimnasio el 9 de enero

In [ ]:
select * 
	from person
		inner join get_fit_now_member on person.id = get_fit_now_member.person_id
		inner join drivers_license on person.license_id = drivers_license.id
			where membership_status = 'gold' 
				and membership_start_date <= '20180109'
				and plate_number like '%H42W%';
                
# Parece que el asesino es Jeremy Bowers con id = 67318, veamos su entrevista para comprobar si es así realmente

In [ ]:
select * 
	from interview
		where person_id = 67318 

# Vemos la entrevista del asesino

In [ ]:
select * 
	from person
		inner join drivers_license on person.license_id = drivers_license.id
		inner join facebook_event_checkin on person.id = facebook_event_checkin.person_id
			where car_make = 'Tesla'
				and car_model = 'Model S'
				and hair_color = 'red'
				and event_name = 'SQL Symphony Concert'
				and height >= 65 and height <= 67;
                
# La encargada del asesinato fue Miranda Priestly