# Parte I - Limpieza y Creación de un base de datos

![ejercicios](img/ejercicios.png)

# 1 - Exploración y limpieza.

En la carpeta `data` de este ejercicio hay 8 archivos csv. Cada uno de ellos corresponde a una entidad de una base de datos que pertenece a una compañia de compra-venta de automóviles clásicos. Estas son: `customers`, `employees`, `offices`, `orderdetails`, `orders`, `payments`, `productlines` y `products`.

La primera tarea consiste en explorar los datos y realizar la limpieza si fuera necesario. ¿Existen nulos?.¿Cuales son las columnas?. ¿Existe relación entre las distintas tablas?

In [20]:
import pandas as pd
import numpy as np

In [26]:
df_pl = pd.read_csv('data/productlines.csv')
df_pl.head()

,productLine,textDescription,htmlDescription,image
0,Classic Cars,Attention car enthusiasts: Make your wildest c...,NaN,NaN
1,Motorcycles,Our motorcycles are state of the art replicas ...,NaN,NaN
2,Planes,"Unique, diecast airplane and helicopter replic...",NaN,NaN
3,Ships,The perfect holiday or anniversary gift for ex...,NaN,NaN
4,Trains,Model trains are a rewarding hobby for enthusi...,NaN,NaN

In [50]:
# Creamos una columna con el id

df_pl['idproductlines'] = range(7)
df_pl = df_pl[['idproductlines', 'productLine', 'textDescription']]

df_pl

,idproductlines,productLine,textDescription
0,0,Classic Cars,Attention car enthusiasts: Make your wildest c...
1,1,Motorcycles,Our motorcycles are state of the art replicas ...
2,2,Planes,"Unique, diecast airplane and helicopter replic..."
3,3,Ships,The perfect holiday or anniversary gift for ex...
4,4,Trains,Model trains are a rewarding hobby for enthusi...
5,5,Trucks and Buses,The Truck and Bus models are realistic replica...
6,6,Vintage Cars,Our Vintage Car models realistically portray a...

In [8]:
# Vemos las dimensiones del dataframe

df_pl.shape

(7, 4)

In [13]:
df_pl.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   productLine      7 non-null      object
 1   textDescription  7 non-null      object
 2   htmlDescription  0 non-null      float64
 3   image            0 non-null      float64
dtypes: float64(2), object(2)
memory usage: 4.3 KB

In [15]:
nan_cols=df_pl.isna().sum()

nan_cols[nan_cols>0]  # columnas con nulos

htmlDescription    7
image              7
dtype: int64

In [32]:
df_pl = df_pl.dropna(axis = 1)

df_pl.columns

Index(['productLine', 'textDescription'], dtype='object')

In [40]:
# Vamos con el el segundo Dataset

df_p = pd.read_csv('data/products.csv')

df_p.head()

,productCode,productName,productLine,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP
0,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
1,S10_1949,1952 Alpine Renault 1300,Classic Cars,1:10,Classic Metal Creations,Turnable front wheels; steering function; deta...,7305,98.58,214.30
2,S10_2016,1996 Moto Guzzi 1100i,Motorcycles,1:10,Highway 66 Mini Classics,"Official Moto Guzzi logos and insignias, saddl...",6625,68.99,118.94
3,S10_4698,2003 Harley-Davidson Eagle Drag Bike,Motorcycles,1:10,Red Start Diecast,"Model features, official Harley Davidson logos...",5582,91.02,193.66
4,S10_4757,1972 Alfa Romeo GTA,Classic Cars,1:10,Motor City Art Classics,Features include: Turnable front wheels; steer...,3252,85.68,136.00

In [34]:
df_p.shape # Dimensiones

(110, 9)

In [36]:
df_p.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   productCode         110 non-null    object
 1   productName         110 non-null    object
 2   productLine         110 non-null    object
 3   productScale        110 non-null    object
 4   productVendor       110 non-null    object
 5   productDescription  110 non-null    object
 6   quantityInStock     110 non-null    int64
 7   buyPrice            110 non-null    float64
 8   MSRP                110 non-null    float64
dtypes: float64(2), int64(1), object(6)
memory usage: 65.5 KB

In [41]:
nan_cols2=df_p.isna().sum()

nan_cols2[nan_cols2>0]

Series([], dtype: int64)

In [43]:
df_pl.to_csv('C:/Users/HP/Dropbox/Mi PC (DESKTOP-KE4BQ28)/Desktop/Bootcamp/ds_tb_part_21_09/02-Data_Analysis/ejercicios/SQL Create Database/data/Data_cl/productlines_cl_2.csv', index = False)
df_p.to_csv('C:/Users/HP/Dropbox/Mi PC (DESKTOP-KE4BQ28)/Desktop/Bootcamp/ds_tb_part_21_09/02-Data_Analysis/ejercicios/SQL Create Database/data/Data_cl/products_cl.csv', index = False)

# 2 - Diagrama Entidades-Relaciones (ERD).

![erd](img/erd.png)


Una vez que se han explorado los datos y están limpios, procedemos a crear la estructura de la base de datos. Primero se crea una base de datos vacía y después se diseña la estructura de la base de datos con el diagrama de entidades-relaciones (ERD). 

Con el diseño del diagrama, podemos obtener una query que, cuando se ejecuta, genera la estructura de tablas y relaciones de la base de datos.

In [ ]:
# Ejemplo de ERD

# 3 - Inserción de datos

Ahora que tenemos la base de datos creada y con su estructura diseñada, se procede a insertar los datos. Pasamos los datos de los archivos `.csv` a nuestra base de datos `SQL`.

In [61]:
from sqlalchemy import create_engine

In [62]:
str_conn='mysql+pymysql://root:mapa1996@localhost:3306/bootcamp_db'

motor=create_engine(str_conn)

In [63]:
df_c = pd.read_csv('data/customers.csv')
df_em = pd.read_csv('data/employees.csv')
df_of = pd.read_csv('data/offices.csv')
df_ordet = pd.read_csv('data/orderdetails.csv')
df_or = pd.read_csv('data/orders.csv')
df_pay = pd.read_csv('data/payments.csv')
df_prl = pd.read_csv('data/productlines.csv')
df_pr = pd.read_csv('data/products.csv')

In [66]:
lista_df = ['df_c', 'df_em', 'df_of', 'df_ordet', 'df_of', 'df_ordet', 'df_or', 'df_pay', 'df_prl', 'df_pr']
lista_names = ['customers', 'employees', 'offices', 'orderdetails', 'orders', 'payments', 'productlines', 'products']

In [68]:
for i in lista_df, j in lista_names:
    i.to_sql(name= j, con=motor, if_exists='append', index=False) # motor con sqlalchemy

NameError: name 'j' is not defined

In [72]:
df_of.to_sql(name= 'offices', con=motor, if_exists='append', index=False)

DataError: (pymysql.err.DataError) (1265, "Data truncated for column 'phone' at row 1")
[SQL: INSERT INTO offices (`officeCode`, city, phone, `addressLine1`, `addressLine2`, state, country, `postalCode`, territory) VALUES (%(officeCode)s, %(city)s, %(phone)s, %(addressLine1)s, %(addressLine2)s, %(state)s, %(country)s, %(postalCode)s, %(territory)s)]
[parameters: ({'officeCode': 1, 'city': 'San Francisco', 'phone': '+1 650 219 4782', 'addressLine1': '100 Market Street', 'addressLine2': 'Suite 300', 'state': 'CA', 'country': 'USA', 'postalCode': '94080', 'territory': None}, {'officeCode': 2, 'city': 'Boston', 'phone': '+1 215 837 0825', 'addressLine1': '1550 Court Place', 'addressLine2': 'Suite 102', 'state': 'MA', 'country': 'USA', 'postalCode': '02107', 'territory': None}, {'officeCode': 3, 'city': 'NYC', 'phone': '+1 212 555 3000', 'addressLine1': '523 East 53rd Street', 'addressLine2': 'apt. 5A', 'state': 'NY', 'country': 'USA', 'postalCode': '10022', 'territory': None}, {'officeCode': 4, 'city': 'Paris', 'phone': '+33 14 723 4404', 'addressLine1': "43 Rue Jouffroy D'abbans", 'addressLine2': None, 'state': None, 'country': 'France', 'postalCode': '75017', 'territory': 'EMEA'}, {'officeCode': 5, 'city': 'Tokyo', 'phone': '+81 33 224 5000', 'addressLine1': '4-1 Kioicho', 'addressLine2': None, 'state': 'Chiyoda-Ku', 'country': 'Japan', 'postalCode': '102-8578', 'territory': 'Japan'}, {'officeCode': 6, 'city': 'Sydney', 'phone': '+61 2 9264 2451', 'addressLine1': '5-11 Wentworth Avenue', 'addressLine2': 'Floor #2', 'state': None, 'country': 'Australia', 'postalCode': 'NSW 2010', 'territory': 'APAC'}, {'officeCode': 7, 'city': 'London', 'phone': '+44 20 7877 2041', 'addressLine1': '25 Old Broad Street', 'addressLine2': 'Level 7', 'state': None, 'country': 'UK', 'postalCode': 'EC2N 1HN', 'territory': 'EMEA'})]
(Background on this error at: https://sqlalche.me/e/14/9h9h)